.navbar a{
    float: left;
    font-size: 1.1em;
    text-align: center;
    padding: 14px 16px;
}
.subnav a{
    float: left;
    font-size: 1em;
    color: #000;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}
.navbar a:hover, .subnav:hover{
    background-color: #007bff;
    
}

.navbar .navbar-nav .nav-link {
    color: rgb(0, 0, 0); 
}

.navbar .navbar-nav .nav-link:hover, 
.navbar .navbar-nav .nav-link.active {
    color: #000000; /* Color de texto al pasar el mouse y para el enlace activo */
}

.subnav {
    float: left;
    overflow: hidden;
}
.subnav .subnav-btn{
    font-size: 1.2em;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
.subnav-content{
    display: none;
    position: absolute;
    left: 0;
    background-color: #e0dede;
    width: 100%;
    z-index: 1;
}
.subnav-content a{
    float: left;
    color:#000;
    text-decoration: none;
}
.subnav-content a:hover{
    background-color: #f1efef;
    color: #222121;
}

.subnav:hover .subnav-content{
    display: block;
}
.none-decorate{
    text-decoration: none;
    color:#222121;
}
.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #000000;
}

.none-decorate {
    text-decoration: none;
    color: #222121;
}
