.header-section {
    background-color: #2575fc; /* Ensure you have this image or a similar one */
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: #fff;
    padding: 0;
}

.header-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-section .btn {
    margin: 10px;
}

.scholarship-section {
    padding: 50px 0;
}

.scholarship-box {
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;
}
