<body>
  <header>
    <h1>Bienvenido a Clinica MariaDB</h1>
  </header>

  <main>
    <section id="welcome">
      <h2>Su salud, nuestra prioridad</h2>
      <p>
        En Clinica MariaDB, nos dedicamos a brindar atención médica de calidad
        con un enfoque personalizado y humano. Nuestra misión es cuidar de su
        salud y bienestar con profesionalismo y empatía.
      </p>
    </section>

    <section id="about">
      <h2>Sobre Nosotros</h2>
      <p>
        Con más de 20 años de experiencia, Clinica MariaDB se ha establecido
        como un referente en la atención médica integral. Contamos con un equipo
        de profesionales altamente capacitados y comprometidos con su salud.
      </p>
    </section>

    <section id="Login">
      <h2>¿Ya cuentas con un plan?</h2>
      <p>
        Si ya cuentas con un plan de servicios de la clínica MariaDB, puedes
        precionar en el apartado de "ingresar" y reservar citas o también
        revisar tu historial.
      </p>
    </section>

    <section id="services">
      <h2>Nuestros Servicios</h2>
      <ul>
        <li>Medicina General</li>
        <li>Especialidades Médicas</li>
        <li>Diagnóstico por Imágenes</li>
        <li>Laboratorio Clínico</li>
        <li>Rehabilitación Física</li>
      </ul>
    </section>
  </main>
</body>
